<div class="full">
    <img  src="/assets/dice.png" alt="" height="150px" width="150px" *ngIf="r==0">
    <img  src="/assets/dice1.png" alt="" height="150px" width="150px" *ngIf="r==1">
    <img  src="/assets/dice2.png" alt="" height="150px" width="150px" *ngIf="r==2">
    <img  src="/assets/dice3.png" alt="" height="150px" width="150px" *ngIf="r==3">
    <img  src="/assets/dice4.png" alt="" height="150px" width="150px" *ngIf="r==4">
    <img  src="/assets/dice5.png" alt="" height="150px" width="150px" *ngIf="r==5">
    <img  src="/assets/dice6.png" alt="" height="150px" width="150px" *ngIf="r==6"> 
    <br><br>
    <button (click)="result()">Roll Dice</button>
</div>
