/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light blue background */
    color: #003c8f; /* Dark blue text */
    padding: 20px;
}
.full{
    height: 100%;
    width: 80%;
}
.top{
    height: 50%;
    width: 100%;
    line-height: 2px;
}
.bottom{
    height: 50%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    text-align: center;

}
.card{
    height: 180px;
    width: 100px;
    background-color: #007acc;
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    
}

/* Input and label styles */
label {
    /* display: block; */
    margin-right: 10px;
    margin-top: 10px;
    color: #007acc; /* Medium blue for labels */
}

input[type="text"],
input[type="number"] {
    display: inline-block;
    height: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid #007acc; /* Blue border */
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 30px;
}

input[type="text"]::placeholder {
    color: #999; /* Placeholder color */
}

/* Button styles */
button {
    background-color: #007acc; /* Button background color */
    color: white; /* Button text color */
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
}

button {
    margin-right: 20px;
    background-color: #0056b3; /* Darker blue on hover */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
}

th, td {
    padding: 1px;
    text-align: center;
    border: 1px solid #007acc; /* Blue border for table */
}


tr:nth-child(even) {
    background-color: #e0f0f7; /* Light blue for even rows */
    color: #007acc;
}

tr:hover {
    background-color: #99c2ff; /* Slightly darker blue on row hover */
    color:  #007acc;
}

/* Mark styles */
mark {
    background-color: #007acc; /* Blue background for mark */
    color: white; /* White text */
}

.data{
    /* display: block; */
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 0;
}
