<div class="full">
    <div class="left">
        <a  routerLink="home"><h1>HOME</h1></a>
        <a routerLink="welcome"> WELCOME</a>
        <a routerLink="databinding"> DATA-BINDING</a>
        <a routerLink="calculator">CALCULATOR</a>
        <a href="">APPLICATION</a> 
        <a routerLink="dice">DICE</a>
        <a routerLink="directives">DIRECTIVES</a>
        <a routerLink="pipes">PIPES</a>
        <a routerLink="tasks">TASKS</a>
        <a routerLink="preflipkart">PRE-FLIPKART</a>
        <a routerLink="higher-order">HIGHER-ORDER</a>
        <a routerLink="vehicle">VEHICLE</a>
        <a routerLink="employees">EMPLOYERS</a>
        <a routerLink="bankaccounts">BANK ACCOUNTS</a>
        <a routerLink="flipkart">FLIPKART</a>
        <a routerLink="create-vehicle">CREATE VEHICLE</a>
        <a routerLink="create-bankaccounts">CREATE BANKACCOUNTS</a>
        <a routerLink="students">STUDENTS</a>
        <a routerLink="createuser">CREATE USER</a>
        <a routerLink="student-fee">STUDENT-FEE</a>
        <br>
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>