body{
    margin: 0;
}
.full{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.left{
    height: 100%;
    width: 20%;
    background-color: teal;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.right{
    height: 100%;
    width: 80%;
    background-color: white;
    overflow: auto;
    padding: 20px;
}
h1{
    font-size: 20px;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 3;
}